*.java export-subst crlf
*.html export-subst crlf
README export-subst crlf
README.first export-subst crlf
README.source export-subst crlf
README.localization export-subst crlf
THINGSTODO export-subst crlf
CHANGES export-subst crlf
CREDITS export-subst crlf
FAQ export-subst crlf
KNOWNBUGS export-subst crlf
