/*
   Stylesheet for Ganymede documentation

   Jonathan Abbey, jonabbey@arlut.utexas.edu

   $Rev$
   $Date$
   $Author$
*/

@media all {
 body { background: white; }
 h1 { font-family: Arial, Helvetica; }

 h2 {
    border-style: solid; border-width: thin; border-color: black;
    width: auto;
    background: #CCFFCC;
    font-weight: bold;
    padding-left: 5px; padding-bottom: 10px; padding-top: 10px;
  }

  h3 {
    border-style: solid; border-width: thin; border-color: black;
    width: auto;
    text-align: right;
    background: #CCCCFF;
    font-weight: bold;
    padding-left: 5px; padding-bottom: 10px; padding-top: 10px; padding-right: 5px;
  }

  code.filename {
    font-weight: bold;
  }

  code.type {
    font-weight: bold;
  }

 p.address { font-family: Arial, Helvetica; font-style: italic; }

}


@media screen {
}


@media print {

  img.screenshot {
    width: 60%;
  }

}
