#!/usr/bin/perl -w
#
# Sample bsd_builder script
#
# This script is run when Ganymede commits transactions and
# runs the BSDBuilderTask, after BSDBuilderTask has written
# out new copies of passwd and group to <serverdir>/db/out.
############################################################

# These variables must be defined

$outdir = "/usr/local/depot/ganymede_server/db/out";
$homeprefix = "/home/";

#

if (! -e $outdir) {
  die "Couldn't change to $outdir.  You need to configure bsd_builder.";
} else {
  chdir $outdir;
}

print "Updating files in /etc\n";

$success = 0;

if ((-f "passwd") && (-f "master.passwd")) {
  system("mv /etc/master.passwd /etc/master.passwd.old");
  system("cp -p /etc/master.passwd.old /etc/master.passwd");
  system("cat < master.passwd > /etc/master.passwd");

  system("mv /etc/passwd /etc/passwd.old");
  system("cp -p /etc/passwd.old /etc/passwd");
  system("cat < passwd > /etc/passwd");

  print "Updated /etc/passwd and /etc/master.passwd.\n";
  $success = 1;
} else {
  print "** Error, could not find passwd and/or master.passwd\n";
  print "** Not updating passwd/master.passwd.\n";
}

if (-f "group") {
  system("mv /etc/group /etc/group.old");
  system("cp -p /etc/group.old /etc/group");
  system("cat < group > /etc/group");

  print "Updated /etc/group.\n";
  $success = 1;
} else {
  print "** Error, could not find group\n";
  print "** Not updating group.\n";
}

if ($success) {
  print "Files in /etc updated.\n";
} else {
  print "No files in /etc updated.\n";
}

# Now we need to see if any users have been created or destroyed.

if (-f "passwd") {

  open INPUT, "</etc/passwd.old" || die "Couldn't open /etc/passwd.old";

  while (<INPUT>) {
    @fields = split /:/;
    $name = $fields[0];
    $homedir = $fields[5];
    
    $old{$name} = $homedir;
  }

  close INPUT;

  open INPUT, "</etc/passwd" || die "Couldn't open /etc/passwd";

  while (<INPUT>) {
    @fields = split /:/;
    $name = $fields[0];
    $userid = $fields[2];
    $groupid = $fields[3];
    $homedir = $fields[5];
    
    if (!exists $old{$name}) {
      print "Need to create homedir for user $name\n";

      if ($homedir eq $homeprefix . $name) {

	# This block of code has been turned off so that you are
	# forced to at least look at this and make sure that this is
	# what you want to happen when a new user is created.  This
	# section is correct on RedHat Linux 5.1, it may not be on
	# your BSD implementation.

	if (0) {
	  system("mkdir $homedir");
	  system("chmod 700 $homedir");
	  system("cp /etc/skel/.??* $homedir");
	  system("chown -R $userid.$groupid $homedir");
	} else {
	  print "ERROR, bsd_builder.sample USER CREATION BLOCK NOT CUSTOMIZED!";
	}

      } else {
	print "Warning.  User $name's home directory is $homedir, not ".$homeprefix.$name.".\n";
	print "Did not create home directory for $name.\n";
      }
    }

    $new{$name} = $homedir;
  }

  close INPUT;
  
  foreach $user (keys %old) {
    
    if (!exists $new{$name}) {
      print "User deleted: $user\n";
    }
  }
}
